/* Gesamtes Layout für die Login-Seite */
.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  box-sizing: border-box;
}

/* Container mit Login- und Info-Panel */
.login-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.0);
}

/* Container für das Login-Formular */
.login-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px 0 0 10px;
  width: 25%;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Logo */
.login-logo {
  width: 100%;
  padding: 20px 20px 10px 20px;
}

/* Slogan */
.slogan {
  color: white;
  margin-bottom: 10px;
}

/* Überschrift für das Formular */
.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

/* Eingabefelder */
.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

/* Placeholder */
.login-form input::placeholder {
  color: white !important;
  opacity: 1 !important;
}

/* Fokussiertes Feld */
.login-form input:focus {
  border-color: rgba(102, 16, 105, 1);
}

/* Register-Link Button */
.register-button {
  width: 100%;
  padding: 10px;
  background: none !important;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-button:hover {
  color: #ddd;
}

/* Info-Panel */
.info-panel {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: black;
  gap: 1rem;
}

.info-panel h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: rgba(102, 16, 105, 1);
  text-transform: uppercase;
}

.info-panel p {
  font-size: 18px;
  line-height: 1.6;
}

.info-panel ul {
  padding-left: 20px;
  list-style-type: disc;
  color: #333;
  font-size: 17px;
  line-height: 1.6;
}

.info-panel li {
  margin-bottom: 10px;
}

/* Responsives Design */
@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
    box-shadow: none;
  }

  .login-form,
  .info-panel {
    width: 100%;
    border-radius: 0;
  }

  .login-form {
    padding: 30px 20px;
  }

  .info-panel {
    padding: 30px 20px;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .login-form h2 {
    font-size: 20px;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
  }
}
