.range-switcher {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .range-btn {
    flex: 1; /* makes each button grow equally */
    min-width: 0; /* prevents overflow */
  }

  .leaderboard-list {
    list-style: none;
    padding: 0;
  }
  
  .leaderboard-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .rank {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    width: 2rem;
    text-align: center;
  }
  
  .user-info {
    flex-grow: 1;
  }
  
  .reps-info {
    font-weight: bold;
    color: rgba(102, 16, 105, 1);
  }
  
  .no-data {
      text-align: center;
      margin-top: 50px;
      font-weight: bold;
  }