
.stats-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin: 0 0;
}

.stats-container ul {
  list-style-type: none;
  padding: 0;
}

.activity-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 15px;
  padding: 12px 20px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.activity-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activity-item span {
  font-size: 14px;
  color: #444;
}

.activity-item .date {
  font-weight: bold;
  color: #2d3e50;
  text-align: left;
}

.activity-item .sets-reps,
.activity-item .total {
  text-align: center;
  font-weight: normal;
}

.activity-item .total {
  color: rgba(102, 16, 105, 1);
  font-weight: bold;
  text-align: right;
}

.max-reps, .total-reps {
  text-align: center;
  font-size: 18px;
  color: rgba(102, 16, 105, 1);
  font-weight: bold;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  flex: 1;
}

.range-switcher {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.range-btn {
  flex: 1; /* makes each button grow equally */
  min-width: 0; /* prevents overflow */
}

.leaderboard-list {
  list-style: none;
  padding: 0;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.rank {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  width: 2rem;
  text-align: center;
}

.user-info {
  flex-grow: 1;
}

.reps-info {
  font-weight: bold;
  color: rgba(102, 16, 105, 1);
}

.summary-section {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.details-section {
  margin-top: 1rem;
}

.no-data {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

/* Remove bottom radius from toggle button when open */
.toggle-btn.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Remove top radius from stats container when it's open */
.stats-container.open {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}