/* Gesamtes Layout für die Registrierungsseite */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px 30px 100px 30px;
  }
  
  /* Container für das Registrierungsformular */
  .register-form {
    background-color: rgba(0, 0, 0, 0.5); /* Halbdurchsichtiges schwarzes Overlay */
    padding: 30px;
    border-radius: 10px;
    width: 400px;  /* Breite auf 500px begrenzt */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schattierung für den Kasten */
  }


.register-logo {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
  
  /* Überschrift für das Formular */
  .register-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;  /* Weiße Farbe für die Überschrift */
    text-align: center;
  }
  
  /* Eingabefelder mit transparentem Hintergrund und weißen Linien */
  .register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;  /* Dünne weiße Linie */
    border-radius: 5px;
    background-color: transparent;  /* Transparenter Hintergrund */
    color: white;  /* Weiße Schriftfarbe */
    font-size: 16px;
    outline: none; /* Entfernt den Standard-Outline-Effekt */
    transition: border-color 0.3s ease; /* Sanfter Übergang */
    margin-bottom: 10px;
  }

  /* Placeholder-Text wirklich weiß machen */
    .register-form input::placeholder {
        color: white !important;
        opacity: 1 !important; /* Stellt sicher, dass der Text nicht halbtransparent ist */
    }
    
  
  /* Eingabefelder bei Fokus */
  .register-form input:focus {
    border-color: rgba(102, 16, 105, 1);  /* Grüner Rand bei Fokussierung */
  }
  
  /* Responsives Design für kleinere Bildschirme */
  @media (max-width: 600px) {
    .register-form {
      width: 100%; /* Breiter auf kleinen Bildschirmen */
      padding: 20px;
    }
  
    .register-form h2 {
      font-size: 20px;
    }
  
    .register-form input, .register-form button {
      font-size: 14px;
    }
  }
  